body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 18px;
}

#timer{
    margin: 16px 0;
}

#time{
    font-size: 2rem;
    font-weight: 600;
}

.buttons{
    color: black;
    margin: auto;
    text-align: center;
}